
.title__cards{
    margin-top: 50px;
    margin-bottom: 30px;
    cursor: pointer;
}

.movies__title{
    margin-bottom: 8px;
}

.card-list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar{
    display: none;
}

.movie__img{
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}

.card{
    position: relative;
}

.movie__title{
    position: absolute;
    right: 10px;
    bottom: 20px;
    text-decoration: none;
    color: white;
}

@media (max-width: 768px){
    .movie__img{
        width: 200px;
    }

    .movie__title{
        font-size: 16px;
    }

    .movies__title{
        font-size: 20px;
    }
    
}

@media (max-width: 500px){
    .movie__img{
        width: 150px;
    }

    .movie__title{
        font-size: 10px;
    }

    .movies__title{
        font-size: 15px;
    }

}
