
/* FULLSCREEN HERO IMAGE WITH LINEAR GRADIENT */
.banner__img{
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.hero{
    position: relative;
}

/* HERO TITLE, DESC, BUTTONS IN
 POSITION ABSOLUTE CONTAINER */
.hero__caption{
    position: absolute;
    bottom: 10%;
    padding-left: 6%;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}

/* HERO TITLE */
.caption__img{
    width: 90%;
    max-width: 420px;
    margin-bottom: 32px;
}

/* HERO DESCRIPTION */
.hero__caption p{
    max-width: 700px;
}

/* HERO BUTTONS SPACING */
.hero__btns{
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

/* HERO BUTTONS STYLING */
.hero__btns .btn{
    display: inline-flex;
    align-items: center;
    border: 0;
    outline: 0;
    padding: 8px 20px;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease 300ms;
}

/* HERO BUTTON IMAGES */
.hero__btns img{
    width: 30px;
}

/* DARK HERO BUTTON STYLING */
.hero__btns .dark-btn{
    background: #6d6d6eb3;
    color: #fff;
}

/* HERO BUTTON HOVER STYLING */
.btn:hover{
    background: #ffffffbf;
    transform: scale(1.1);
}

/* DARK HERO BUTTON HOVER STYLING */
.dark-btn:hover{
    background-color: #6d6d6e66;
}

/* STYLING 4 MOVIE LISTS BELOW HERO */
.blockbusters{
    
    padding-left: 20px;
}

/* STYLING FOR MOVIE CARDS, 4 TO A ROW */
.movie__cards{
    display: flex;
}

.movie__card{
    padding: 20px;
}

@media (max-width: 1024px){
    .popular{
        display: none;
    }
}

@media (max-width: 768px){
    
    /* HERO BANNER STYLING FOR MOBILE */
    .hero__caption{
        bottom: 15%;
        font-size: 10px;
    }

    .caption__img{
        margin-bottom: 16px;
        width: 40%;
    }

    .hero__caption p{
        max-width: 350px;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .hero__btns{
        margin-top: 16px;
        gap: 8px;
    }

    .hero__btns .btn{
        padding: 4px 10px;
        font-size: 12px;
    }

    .hero__btns img{
        width: 20px;
    }

    /* STYLING FOR MOVIE LISTS BELOW HERO BANNER */
    .blockbusters{
        padding-left: 4%;
    }
}

@media (max-width: 500px){
    .caption__img{
        display: none;
    }

    .hero__btns img{
        width: 15px;
    }

    .hero__btns .btn{
        font-size: 12px;
    }

    .hero__btns{
        gap: 8px;
    }
}